
<%- include ('./dash_include/header.ejs') %>
<%- include ('./dash_include/dashboard_all.ejs') %>


<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Admin Table</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                <a href="">
                    Blog List
                </a>
            </li>
        </ol>
        </div>
        <a href="/admin/create-blog" class="created">Add Blog</a>
    </nav>
    <div class="table_admin">
        <div class="d-name-tag">
            <p>Properties Table Lists</p>
        </div>
        <table >
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Author's Name</th>
                    <th>Category</th>
                    <th>topic</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 1; %>
                <% blog.forEach(function(blogs){ %>
                    <% let Date = blogs.date %>
                    <% let Datenow = Date.toLocaleDateString() %>
                    <tr>
                        <td class="numberings"><%= count %></td>
                        <td><%= blogs.fullname %></td>
                        <td><%= blogs.category %></td>
                        <td><%= blogs.topic%></td>
                        <td><%= Datenow %></td>
                        <td>
                            <div class="hidden">
                                <button class="delete"><a href="/admin/delete-blog/<%= blogs._id %>"  class="delete_blog" data-id="<%= blogs._id %>"> <i class="fas fa-trash"></i></a></button>
                                <button class="view"><a href="http://"><i class="fas fa-eye"></i></a></button>
                                <button class="edit"><a href="/admin/edit-blog?id=<%= blogs._id %>"><i class="fas fa-user-edit"></i></a></button>
                            </div>
                        </td>
                    </tr>
                    <% count++ %>
                <% }) %>

            </tbody>
        </table>
        
        <ul class="paginationa">
            <% if (current > 1) { %>
              <li><a href="/admin/blog/<%= parseInt(current) - 1 %>">&laquo;</a></li>
            <% } %>
          
            <% for (var i = 1; i <= pages; i++) { %>
              <% if (current == i) { %>
                <li class="active"><a href="/admin/blog/<%= i %>"><%= i %></a></li>
              <% } else { %>
                <li><a href="/admin/blog/<%= i %>"><%= i %></a></li>
              <% } %>
            <% } %>
          
            <% if (current < pages) { %>
              <li><a href="/admin/blog/<%= parseInt(current) + 1 %>">&raquo;</a></li>
            <% } %>
        </ul>
       
    </div>
    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>

<script>

    const hide = document.querySelector('.hidden');

    hide.forEach(function(hid) {
        hid.style.position = "absolute";
    });
    
</script>
  