<%- include ('./dash_include/header.ejs')  %>
<%- include ('./dash_include/dashboard_all.ejs') %>

<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Password</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                <a href="">
                    Manage Password
                </a>
            </li>
        </ol>
        </div>
        <a href="/admin/Dashboard" class="created">Dashboard</a>
    </nav>

    <div class="table_admin">
        <%- include ('./messages/messages.ejs') %>
        <div class="d-name-tag">
            <p>Use this form to change password</p>
        </div>

        <form action="/admin/password" method="Post" class="formings">
            <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" id="email">
            </div>
           
            <div class="form-group">
                <label for="passwords">Enter previous password</label>
                <input class="form-control" type="password" name="passwords" value="<%= typeof passwords != 'undefined' ? passwords : '' %>" id="password_one">
            </div>
            
            <div class="form-group">
                <label for="password">Enter new password</label>
                <input class="form-control" type="password" name="passwording" value="<%= typeof passwording != 'undefined' ? passwording : '' %>" id="password_two">
            </div>
            <div class="form-group">
                <input  type="submit" value="Submit">
            </div>
            
        </form>
    </div>

    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>
<%- include ('./dash_include/footer.ejs') %>
