
<%- include ('./dash_include/header.ejs') %>
<%- include ('./dash_include/dashboard_all.ejs') %>


<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Contacts Table</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
               
                    Contacts List
                
            </li>
        </ol>
        </div>
        
    </nav>
    <div class="table_admin">
        <div class="d-name-tag">
            <p>Contact Table Lists</p>
        </div>
        <table >
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 1; %>
                <% contact.forEach(function(contact){ %>
                    <tr <% if (contact.isRead == false) { %>class="unread"<% } else { %>class="read"<% } %>>
                        
                        <td class="numberings"><%= count %></td>
                        <td><%= contact.name %></td>
                        <td><%= contact.email %></td>
                        <td><%= contact.subject %></td>
                        <td>
                            <div class="hidden">
                                <button class="delete"><a href="/admin/delete-contact/<%= contact._id %>"  class="delete_contact" data-id="<%= contact._id %>"><i class="bi bi-trash"></i></a></button>
                                <button class="view"><a href="/admin/contact-read/?id=<%= contact._id %>"><i class="bi bi-messenger"></i></a></button>
                            </div>
                        </td>
                    </tr>
                    <% count++ %>
                <% }) %>

            </tbody>
        </table>
        
        <ul class="paginationa">
            <% if (current > 1) { %>
              <li><a href="/admin/contact/<%= parseInt(current) - 1 %>">&laquo;</a></li>
            <% } %>
          
            <% for (var i = 1; i <= pages; i++) { %>
              <% if (current == i) { %>
                <li class="active"><a href="/admin/contact/<%= i %>"><%= i %></a></li>
              <% } else { %>
                <li><a href="/admin/contact/<%= i %>"><%= i %></a></li>
              <% } %>
            <% } %>
          
            <% if (current < pages) { %>
              <li><a href="/admin/contact/<%= parseInt(current) + 1 %>">&raquo;</a></li>
            <% } %>
        </ul>
       
    </div>
    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>

<script>

    const hide = document.querySelector('.hidden');

    hide.forEach(function(hid) {
        hid.style.position = "absolute";
    });
    
</script>

<style>
    .read {
      font-weight: 100;
      color: var(--bs-gray-800);
    }
    .unread {
      color: var(--orange2);
      font-weight: bold;
    }
  </style>
