<%- include ('./dash_include/header.ejs')  %>
<%- include ('./dash_include/dashboard_all.ejs') %>

<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Profile</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                <a href="">
                    Lands Details 
                </a>
            </li>
        </ol>
        </div>
        <a href="/admin/land/1" class="created">All Lands</a>
    </nav>
    <div class="table_admin">
        <div class="d-name-tag">
            <p>Land Properties</p>
        </div>

        <div class="wrap_all_profile">
            <div class="staffprofile">
                <div class="image_profile">
                    <div class="img_staff_one">
                        <img src="data:Binary?<%= land.img.contentType %>;base64,<%= land.img.data.toString('base64')%>" alt="" srcset="">
                    </div>
                    <div class="img_staff_one">
                        <img src="data:Binary?<%= land.img2.contentType %>;base64,<%= land.img2.data.toString('base64')%>" alt="" srcset="">
                    </div>
    
    
                    <p><%= land.property_id %></p>
                    <p><%= land.name %></p>
                </div>
                <div class="div_detail">
                    <div class="first">
                        <div class="email">
                            <p>Location:</p>
                            <p> <%= land.location %></p>
                           
                        </div>
                    </div>
                    <div class="first">
                        <div class="email">
                            <p>Status:</p>
                            <p><%= land.status %></p>
                            
                        </div>
                    </div>
                    <div class="first">
                        <div class="email">
                           <p>Period:</p> 
                        
                            <p><%= land.period %></p>
                        </div>
                    </div>
                    <div class="first">
                        <div class="email">
                           <p> Area:</p>
                            <p><%= land.area %></p>
                        </div>
                    </div>
                    </div>
    
                    
                    
                </div>
               
            </div>
    
            <div class="about_amenitie">
                <div class="about_first">
                    <P class="first_child">Description:</P>
                    <p><%= land.description %></p>
                </div>
                <div class="about_first">
                 
                        <p>Amenities:</p>
                   
                      
                            <ol>
                                <% if(land.amenities) { %>
                                    <% land.amenities.forEach((prop) => { %> 
                                      <li><%= prop %>
                                    <% }) %>
                                  <% } %>
                            </ol>
                      
                   
                </div>
               
    
            </div>
        </div>
        
    </div>
    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>


  

